body {
}


.txtbox
{
    font-size:X-Small;
    font-family:arial;
    text-align:center;
}
.txtbox:hover
{
    background-color:White;
    color:Red;
    text-decoration:underline;
   
}
.lbl
{
    text-indent:bold;
    height:16px;
    width:100px;
    font-size:X-Small;
    font-family:arial;
    text-align:center;   
}
.ddl
{
     height:16px;
     width:100px;
     font-size:X-Small;
     font-family:arial;
     text-align:left;   
}
.btnsave
{
    font-family: arial;
    font-size: X-Small;
    height: 18px;
    text-align: center;
    }