<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage1.master.cs" Inherits="MasterPage1" %>

<%--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
--%>
<%@ Register Assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    Namespace="System.Web.UI" TagPrefix="asp" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head id="Head1" runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>ECompliance</title>
    <style type="text/css">
        .style12
        {
            height: 327px;
            width: 198px;
            visibility: visible;
        }
        .style14
        {
            height: 327px;
        }
        .style21
        {
            width: 112px;
        }
        .style22
        {
            width: 78px;
            text-align: right;
        }
        .style23
        {
            width: 3px;
        }
    </style>
    <link href="CSS/sampleStyleSheet.css" rel="stylesheet" type="text/css" />
</head>
<body id="body1" runat="server" oncontextmenu="return false" 
    
    style="background: url(Images/LogoMasters.JPG) no-repeat; height: 729px; margin-top: 0px;">
    <form id="form1" runat="server">
    <div class="wrap">
      <div>
         <%-- <asp:Image ID="Image1" runat="server" ImageUrl="~/Images/RaneLogo.jpg"
              Width="1250px" Height="116px" />--%>
              <div style="height:125px;width:1196px" />
      </div>
      <asp:Panel ID="Panel1" runat="server" Style="z-index: 100; left: 1130px;
            position: absolute; top: 13px; height: 18px; width: 76px;">
        <asp:LinkButton id="lnkLogOut" runat="server" onclick="lnkLogOut_Click" 
              Font-Size="XX-Small" Font-Names="Verdana" ForeColor="White">Logout</asp:LinkButton>
            </asp:Panel>
       <asp:Panel ID="DivLoginDetails" runat="server" Style="z-index: 100; left: 550px;
            position: absolute; top: 48px; height: 53px; width: 649px;">
      <table align="right" style="width: 223px; height: 12px">
             <tr>
             <td class="style22">
                 <asp:Label ID="lbluname" runat="server" ForeColor="#333399"  Width="131px" Height="20px"
                     Font-Size="XX-Small" Font-Bold="True" 
                     Font-Names="Verdana"></asp:Label>
             </td>
             <td class="style21">
                 <asp:Label ID="lblDate" runat="server" ForeColor="#333399" 
                     style="margin-left: 0px; text-align: left;" Width="106px" Height="18px" 
                     Font-Size="XX-Small" Font-Bold="True" Font-Names="Verdana" ></asp:Label>
                 </td></tr>
                  <tr>
                 <td class="style22">
                 <asp:Label ID="lblVersionName" runat="server" ForeColor="#333399"  Width="132px" 
                     Font-Size="XX-Small" style="text-align: right" Font-Bold="True" Text="ECompliance Version: "
                     Font-Names="Verdana" Height="20px"></asp:Label>
             </td>
             <td><asp:Label ID="lblVersionNumber" runat="server" ForeColor="#333399"  Width="115px" 
                     Font-Size="XX-Small" style="text-align: left" Font-Bold="True" 
                     Font-Names="Verdana" Height="20px"></asp:Label></td>
                 </tr></table>
                 <asp:SiteMapPath ID="SiteMapPath" runat="server" Font-Size="XX-Small" 
               PathSeparator=" &gt; " Font-Bold="False" Font-Names="Verdana">
           </asp:SiteMapPath>
                 </asp:Panel>
    <div>
        <table width="100%" style="height: 496px; margin-top: 0px;"cellspacing="10px" >
            <tr>
               <td id="td1" 
                   style="border-style: groove; border-color: #3333CC; vertical-align: top; border-collapse: separate; border-right-width: medium; border-bottom-width: medium; border-left-width: medium;"
                    class="style12" runat="server" >                
                    <asp:Panel ID="pnlAct" runat="server" Height="52px" Width="228px">
                        <table>
                            <tr>
                                <td>
                                     <asp:DropDownList ID="ddlActivity" runat="server" Height="20px" Width="219px" 
                                        Font-Size="XX-Small" DataTextField="ActName" DataValueField="ActId" 
                                         Font-Names="Verdana">
                                    </asp:DropDownList>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <asp:Button ID="btnGo" runat="server" Text="GO" 
                            onclick="btnGo_Click" Font-Size="XX-Small" />
                                </td>
                            </tr>
                        </table>
                   </asp:Panel>

                    <br />
                    <asp:Panel ID="pnlTree" runat="server" Height="493px" Width="212px" 
                       style="margin-top: 11px" >
                        <asp:TreeView ID="TreeView2" runat="server" Font-Names="Verdana" 
                            Font-Size="XX-Small" ForeColor="Black" Height="168px" Width="135px" 
                            ImageSet="Arrows" onselectednodechanged="TreeView2_SelectedNodeChanged" 
                            ontreenodeexpanded="TreeView2_TreeNodeExpanded">
                            <HoverNodeStyle Font-Underline="True" ForeColor="#5555DD" />
                            <%--<Nodes>
                                <asp:TreeNode Text="Admin" Value="Admin" Expanded="True">
                                    
                                    <asp:TreeNode Text="Assign Program to Roles" Value="Assign Program to Roles" 
                                        Selected="false" NavigateUrl="~/AssignProgramtoRoles.aspx"></asp:TreeNode>
                                    <asp:TreeNode Text="Assign User Roles" Value="Assign User Roles" 
                                        Selected="false" NavigateUrl="~/AssignUserRoles.aspx"></asp:TreeNode>
                                </asp:TreeNode>
                                <asp:TreeNode Text="Masters" Value="Masters" Expanded="True">
                                   <asp:TreeNode Text="CompanyMaster" Value="CustomerMaster" 
                                        NavigateUrl="~/CompanyMaster.aspx"></asp:TreeNode>
                                    <asp:TreeNode Text="EmployeeMaster" Value="EmployeeMaster" 
                                        NavigateUrl="~/EmployeeMaster.aspx"></asp:TreeNode>
                                    <asp:TreeNode NavigateUrl="~/CategoryMaster.aspx" Text="CategoryMaster" 
                                        Value="CategoryMaster"></asp:TreeNode>
                                    <asp:TreeNode NavigateUrl="~/DepartmentMaster.aspx" Text="DepartmentMaster" 
                                        Value="DepartmentMaster"></asp:TreeNode>
                                    <asp:TreeNode NavigateUrl="~/SeverityMaster.aspx" Text="SeverityMaster" 
                                        Value="SeverityMaster"></asp:TreeNode>
                                    <asp:TreeNode NavigateUrl="~/FrequencyMaster.aspx" Text="FrequencyMaster" 
                                        Value="FrequencyMaster"></asp:TreeNode>
                                    <asp:TreeNode NavigateUrl="~/DocumentTypeMaster.aspx" Text="DocumentTypeMaster" 
                                        Value="DocumentTypeMaster"></asp:TreeNode>
                                    <asp:TreeNode NavigateUrl="~/ActMaster.aspx" Text="ActMaster" 
                                        Value="ActMaster">
                                    </asp:TreeNode>
                                    <asp:TreeNode NavigateUrl="~/ActivityMaster.aspx" Text="ActivityMaster" 
                                        Value="ActivityMaster"></asp:TreeNode>
                                    <asp:TreeNode NavigateUrl="~/AsignActivityforCompany.aspx" 
                                        Text="ActivityForCompany" Value="ActivityForCompany">
                                    </asp:TreeNode>
                                </asp:TreeNode>
                                <asp:TreeNode Text="Transaction" Value="Transaction" Expanded="True">
                                     <asp:TreeNode Text="Activity" Value="Activity" 
                                         NavigateUrl="~/UnderConstruction.aspx"></asp:TreeNode>
                                    <asp:TreeNode Text="NonCompliance" Value="NonCompiance" 
                                         NavigateUrl="~/UnderConstruction.aspx"></asp:TreeNode>
                                </asp:TreeNode>
                                <asp:TreeNode Text="Reports" Value="Reports" 
                                    NavigateUrl="~/UnderConstruction.aspx"></asp:TreeNode>
                            </Nodes>--%>
                            <NodeStyle Font-Names="Verdana" Font-Size="8pt" ForeColor="Black" 
                                HorizontalPadding="5px" NodeSpacing="0px" VerticalPadding="0px" />
                            <ParentNodeStyle Font-Bold="False" />
                            <SelectedNodeStyle Font-Underline="True" ForeColor="#5555DD" 
                                HorizontalPadding="0px" VerticalPadding="0px" />
                        </asp:TreeView>
                    </asp:Panel>
                 
                </td>
                <td id="td2" class="style23" runat="server"  
                    style="border: thin hidden #0000FF; vertical-align:top; border-collapse: separate;">  
                 <div style="background-color: Transparent; height: 21px; width: 16px;">             
                    <%--<asp:Button ID="btnHide" runat="server"  Text="&lt;" onclick="btnHide_Click"  
                        BackColor="#666699" Width="22px"/>--%>
                     
                     <asp:ImageButton ID="imgExpand" runat="server" 
                         ImageUrl="~/Images/colapse1.JPG" onclick="imgExpand_Click" 
                         style="width: 16px" Height="16px" ImageAlign="Top" Width="10px" />
                 </div>
                </td>
                
                <td id="td3" class="style14" align="left" runat="server" style="top: auto">
                    <%--<div style="background-color: Transparent">  --%>
                    <asp:ScriptManager ID="ScriptManager1" runat="server" />
                    <asp:UpdatePanel ID="UpdatePanel1" runat="server" >
                        <ContentTemplate>                 
                        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"  >
                           <asp:Panel ID="Panel4" runat="server" Height="213px" style="margin-left: 0px">
                        <table style="width: 642px">
                        <tr>
                        <td align="center">
                         
                                <asp:Label ID="lblWelcome" runat="server" Text="Welcome to ECompliance"
                                Font-Size="Medium" ForeColor="#3333CC" Font-Names="Verdana" ></asp:Label>
                           
                        </td></tr></table>
                         </asp:Panel>
                            <%--<asp:Panel ID="pnlGrd" runat="server" Height="545px">
                                            <%--<asp:GridView ID="GrdActivity" runat="server" CellPadding="3" 
                        Font-Size="12px" Width="259px" Font-Names="Verdana" AutoGenerateColumns="False" 
                        Height="90px" GridLines="Vertical" BackColor="White" BorderColor="#999999" 
                            BorderStyle="None" BorderWidth="1px">
                    <FooterStyle BackColor="#CCCCCC" ForeColor="Black" />
                    <RowStyle BackColor="#EEEEEE" ForeColor="Black" />
                    <PagerStyle BackColor="#999999" ForeColor="Black" HorizontalAlign="Center" />
                    <SelectedRowStyle BackColor="#008A8C" Font-Bold="True" ForeColor="White" />
                    <HeaderStyle BackColor="#000084" Font-Bold="True" ForeColor="White" 
                        HorizontalAlign="Left" />
                    <AlternatingRowStyle BackColor="#DCDCDC" />
                    <Columns>
                            <asp:BoundField DataField="ActName" HeaderText="ActName" />
                            <asp:BoundField DataField="ActivityName" HeaderText="ActivityName" />
           
                    </Columns>
                    <sortedascendingcellstyle backcolor="#F1F1F1" />
                    <sortedascendingheaderstyle backcolor="#0000A9" />
                    <sorteddescendingcellstyle backcolor="#CAC9C9" />
                    <sorteddescendingheaderstyle backcolor="#000065" />
                </asp:GridView>--%>
                            </asp:Panel>--%>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />            
                        </asp:ContentPlaceHolder>
                        </ContentTemplate>

                        </asp:UpdatePanel>                                              
                     </div>
                </td>
               
            </tr>
        </table>
       
        </div>
        <br />
    </form>
</body>
</html>


