<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.diagnostics>
    <!--Custom Logging and Tracing-->
    <switches>
      <add name="GMySwitch" value="4"/>
    </switches>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <add name="GDBTL" type="Ganini.Diagnostics.DatabaseTraceListener,GCustomTraceListeners"/>
        <add name="GFileTL" type="Ganini.Diagnostics.FileTraceListener,GCustomTraceListeners"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
		<remove name="DefaultConnection" />
		<!--<add name="DefaultConnection" connectionString="Data source=sys-4;User id=rbl;password=rbl123;Provider=MSDAORA." providerName="System.Data.OracleClient"/>-->
		<add name="DefaultConnection" connectionString="Data Source=chandru-PC\SQLEXPRESS;Initial Catalog=Gendale071013;uid=appuser;pwd=ganini;Connect Timeout=600" providerName="System.Data.SqlClient" />
		<add name="GCustTrace_DbConnectionString" connectionString="Data Source=chandru-PC\SQLEXPRESS;Initial Catalog=Gendale071013;uid=appuser;pwd=ganini" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <appSettings>
    <add key="Isdev" value="y" />
    <!--company type other than given below types wil be considered for paernt company-->
    <add key="CompanyType1" value="PL" />
    <add key="CompanyType2" value="PL" />
    <add key="IndianDateFormat" value="dd/MM/yyyy"/>
    <add key="DocFolderPath" value="D:\ActivityDocMaster\" />
    <add key="ActionFolderPath" value="D:\ActivityAcion\" />
    <add key="VERSION" value="1.1.01"/>
    <!--Compnay Type Stored for DDL--> <!--scs commented 170913 not used taken to DB-->
    <!--<add key="Corporate" value="Cor" /> 
    <add key="HeadOffice" value="HO" />
    <add key="Plant" value="PL" />
    <add key="TraninigCenter" value="TC" />-->
    <!--Compnay Type Stored for DDL Ends-->
    <!--Classification Stored for DDL-->
    <add key="Central" value="Central" />
    <add key="State" value="State" />   
    <!--Classification Type Stored for DDL Ends-->
    <add key="IsHomePageAction" value="Y" /><!--If Y then redirect to ActvityAction else UserActivity Page-->
    <!--company type other than given above types wil be considered for paernt company-->
    <!--MailConfiguration Starts-->
    <add key="IP" value="192.168.120.153"/>
    <add key="_Port" value="25"/>
    <add key="FromMail" value="support@ganini.co.in"/>
    <add key="Subject" value="Login Details"/>
    <add key="BodyMessage" value="Here are the login details of your account. Please use the username and password detailed below to access the ECompliance System."/>
    <add key="BodyMessage1" value="Your Password is "/>
    <add key="BodyMessage2" value=" This Email is AutoGenerated by ECompliance System. Please do not reply."/>
    <add key="RedAlertDay" value="1"/>
    <add key="ReviewerColRequired" value="N"/>
    <add key="ExecutionColRequired" value="N"/>
    <!--MailConfiguration Ends-->
    <!-- Frequency with least priority-->
    <add key="Freq1" value="As and When"/>
    <add key="Freq2" value="DAILY"/>
    <add key="Freq3" value="wEEKLY"/>
    <add key="Freq4" value="MONTHLY"/>
    <add key="Freq5" value="QUARTWERLY"/>
    <add key="Freq6" value="HALF YEARLY"/>
    <!--050313-->
    <add key="Freq7" value="FORTNIGHTLY"/>
    <add key="Freq8" value="YEARLY"/>
    <!--050313-->
    <!-- Frequency with least priority-->
  </appSettings>
  <system.web>
    <sessionState mode="InProc" timeout="50000" ></sessionState>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors defaultRedirect="~/Login.aspx" mode="Off" />
    <httpRuntime maxRequestLength="15360" requestLengthDiskThreshold="15360"/> <!--added for Abinayaa 270213  Uploding large size of files it allows-->
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <!--<remove value="AgilerWebService.asmx" />
                --><!--<add value="Login.aspx" />--><!--
                <add value="MasterPage.aspx" />-->
              
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>